<ion-view title="Animal Selecionado">
      <ion-content padding="true" class="has-header">
        <form id="fazenda-form2" class="list">
          <label class="item item-input" id=""
            <span class="input-label">Tipo/span>
            <input type="text" placeholder="" ng-model= "animal.tipo">
          </label>
          <label class="item item-input" id="">
            <span class="input-label">Situacao</span>
            <input type="text" placeholder="" ng-model= "animal.situacao">
          </label>
          <label class="item item-input" id="">
            <span class="input-label">Endereço</span>
            <input type="text" placeholder="" ng-model= "animal.endereco">
          </label>
          <button id="menu-button20"class="button button-energized button-large button-block button" ng-click="voltaAnimail()">Voltar</button>
          </form>
    </ion-content>
</ion-view>
